.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-category .num-film {
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 50px;
  background-color: red;
  color:white;
  padding: 5px 3px 0 3px;
}

.card-category .num-film h6{
  font-size: 8px;
}
